
span.red {
    color: #e26161
}
li {
    list-style-type: none;
}
ul {
    padding-inline-start: 0em;
}
body {
    background-color: #704214;
}
div.terminal-window {
    font-family: monospace;
    color: white;
    background-color: rgb(44, 46, 47);
    width: 600px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(71, 13, 13, 0.527);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // float: left;
    margin-left: auto;
    margin-right: auto;

}
input.terminal {
    color: white;
    background-color: rgb(44, 46, 47);
    border: none;
    font-family: monospace
}
input.terminal:focus {
    outline: none;
}
.padleft {
    padding-left: 15px;
}
a {
    color: white
}
a:visited {
    color: white
}
.prompt-username {
    color: green;
}
.prompt-hostname {
    color: cyan;
}
.prompt-at {
    color: #e26161;
}
.prompt-terminator {
    color: yellow
}